<div class="col-md-3 col-sm-12">
  {{filter/connection-filter onChange=(action (mut maxConnection))}}

  {{filter/airline-filter airlines=airlines}}

  {{filter/price-filter
    lowestPrice = lowestPrice
    biggestPrice = biggestPrice
    priceRangeLowerBound  = (mut priceRangeLowerBound)
    priceRangeHigherBound = (mut priceRangeHigherBound)}}

</div>

<div class="col-md-9 col-sm-12 search-results-container">
  {{#vertical-collection
    sortedSolutions
    containerSelector='body'
    estimateHeight=rowHeight
  as |item|
  }}
    {{yield item}}

  {{/vertical-collection}}

</div>

