@import 'bootstrap-material';
@import "ember-cli-bootstrap-4/bootstrap";
@import "flight-info";
@import "filters";
@import "bootstrap-override";
@import 'search';

$fa-font-path: "/fonts";
@import "node_modules/components-font-awesome/scss/font-awesome.scss";

body {
  background-color: $gray-50;
  max-height: 100%;
  overflow-y: hidden;
}

.result-block {
  height: 100vh;
  overflow-y: scroll;
}

.search-flights-block {
  background-color: $white;
  padding: 1rem;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
}

.results {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.summary-slice {
  padding-bottom: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: inherit;
  height: 60px;
  line-height: 60px;
  border-top: 1px solid $gray-100;
  background-color: $gray-50;
  border-right: 1px solid $gray-300;
  margin: 0;
  left: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 10px;
  font-weight: lighter;
}

.result-header-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-header-content-left {
  padding: 10px 18px 10px 18px;
  background-color: $white;
  text-transform: uppercase;
  font-weight: 600;
  color: #3a4142;
  font-size: 12px;
}

.result-header-content-right {
  padding: 10px 18px 10px 18px;
  background-color: #fff;
  color: #3a4142;
  font-size: 12px;
}

.white-background {
  background-color: #fff;
}
