@import "ember-cli-bootstrap-4/bootstrap";
@import "flight-info";
@import "filters";

body {
  background-color: #fafafa;
  min-height: 100vh;
}

.content {
  padding: 3rem 1.5rem;
}

.search-flights-block {
  background-color: #FFF;
  padding: 1rem;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

$fa-font-path: "/fonts";
@import "node_modules/components-font-awesome/scss/font-awesome.scss";

.results {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.summary-slice {
  padding-bottom: 15px;
}

footer {
  background-color: #fff;
  color: #868e96 !important;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.result-header-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.result-header-content-left {
  padding: 10px 18px 10px 18px;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  color: #3a4142;
  font-size: 12px;
}

.result-header-content-right {
  padding: 10px 18px 10px 18px;
  background-color: #fff;
  color: #3a4142;
  font-size: 12px;
}


.white-background {
  background-color: #fff;
}
