{{#filter/filter-block blockTitle='Airline filters'}}
  <ul class="list-unstyled">
    {{#each sortedAirlines as |airline|}}
      <li><label>{{input type="checkbox" checked=(mut (get airline 'isSelected'))}}  {{airline.name}}</label></li>
    {{/each}}
  </ul>
{{/filter/filter-block}}
