{{#filter/filter-block blockTitle='Price'}}
  <p><br><br>
    {{range-slider start=initialRange range=range on-change="changeAction" connect=true step=10 tooltips=true}}
  </p>

{{/filter/filter-block}}