<p>{{title}}: {{moment-format fromMoment 'DD/MM HH:mm'}} up to {{moment-format toMoment 'DD/MM HH:mm'}}</p>
{{range-slider start=initialRange range=range on-change="changeAction" connect=true step=900}}