<div class="container-fluid">

  {{#search-result
    airlines = model.airlines
    solutions = model.solutions
    rowHeight = 190
  as |item|
  }}
    {{one-way-solution slice=item.slices.firstObject prices=item.prices}}
  {{/search-result}}

  {{outlet}}
</div>


