<div class="container-fluid">

  {{#search-result
    airlines = model.airlines
    solutions = model.solutions
    rowHeight = 190
  as |solution|
  }}
    {{one-way-solution solution = solution}}
  {{/search-result}}

  {{outlet}}
</div>


