<div class="container-fluid">

  {{#search-result
    airlines = model.airlines
    solutions = model.solutions
  as |item|
  }}
    {{round-trip-solution solution = item}}
  {{/search-result}}

  {{outlet}}
</div>
