<ul class="nav nav-tabs">
  <li class="nav-item">
    {{#link-to "search-round-trip" class="nav-link"}}Round trip{{/link-to}}
  </li>
  <li class="nav-item">
    {{#link-to "search-one-way" class="nav-link"}}One Way{{/link-to}}
  </li>
  <li class="nav-item">
    {{#link-to "search-multi-city" class="nav-link"}}Multi City{{/link-to}}
  </li>
</ul>