<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>What problem are you solving?</h2>
      <p>The same seat in a given travel class on a given flight might not be sold at the same price in different
        countries. Not only airlines are not refreshing exchange rates in real time, they might also decide to offer
        more seats in a cheaper fare bucket in some countries compared to others.</p>
      <p>This tool helps you finding which country is the one with the lowest price for a given flight.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Where do I book the flight at the lowest price?</h2>
      <p>Let's assume you found that the cheapest price for your flight from ABC (Albacete, Spain) to XZA (Zabre,
        Burkina Faso) is the United States price. There are multiple ways to book this flight:</p>
      <ul>
        <li>Going to the american web site of one of the airline (some airlines force the point of sale to the departure
          city so even though you're on the american website you will still see the spanish price)
        </li>
        <li>Finding a codeshare airline or an airline in the same alliance that will allow you to book the flight from
          the specific country
        </li>
        <li>Using an OTA like expedia or kayak in the proper country</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>There's a bug / I miss a feature! </h2>
      <p>Feel free to contact us by email at <a href="mailto:support@yac.io">support@yac.io</a> or create an issue on <a
        href="https://github.com/yac-io/flight-pricer-web/issues/new">Github</a></p>
    </div>
  </div>
</div>
{{outlet}}