<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/">FlightPricer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      {{#link-to "search-round-trip" class="nav-item" tagNAme="li"}}
        <a href class="nav-link">Search Flights</a>
      {{/link-to}}

      {{#link-to "about" class="nav-item" tagNAme="li"}}
        <a href class="nav-link">About</a>
      {{/link-to}}
    </ul>
  </div>

</nav>

<div class="content">

  {{outlet}}
</div>

<footer>
  <div class="container">


    <p class="float-right">
      Powered by <a href="https://emberjs.com/">Ember.js</a> and <a
      href="https://projects.spring.io/spring-boot/">Spring Boot</a>.
    </p>
    <p> Yac.io - 2017</p>
  </div>
</footer>