<nav class="navbar navbar-expand-md navbar-dark">
  <a class="navbar-brand" href="/">FlightPricer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

      {{#link-to "search-round-trip" class="nav-item" tagNAme="li"}}
        <a href class="nav-link">Search Flights</a>
      {{/link-to}}

      {{#link-to "about" class="nav-item" tagNAme="li"}}
        <a href class="nav-link">About</a>
      {{/link-to}}
    </ul>
  </div>

</nav>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 col-sm-12 search-block">
        <div class="row">
          <div class="col-sm-12 search-title">
            <h1><i class="fa fa-globe"></i> Find your flights</h1>
          </div>
        </div>
        <div class="row search-tabs">
          <div class="col-sm-12">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                {{#link-to "search-round-trip" class="nav-link"}}Round trip{{/link-to}}
              </li>
              <li class="nav-item">
                {{#link-to "search-one-way" class="nav-link"}}One Way{{/link-to}}
              </li>
              <li class="nav-item">
                {{#link-to "search-multi-city" class="nav-link"}}Multi City{{/link-to}}
              </li>
            </ul>

          </div>
        </div>

        <div class="search-input">
          {{outlet 'search-form'}}
        </div>

        <footer>
          <p class="float-right">
            Powered by <a href="https://emberjs.com/">Ember.js</a> and <a
            href="https://projects.spring.io/spring-boot/">Spring Boot</a>.
          </p>
          <p> Yac.io - 2017</p>
        </footer>

      </div>

      <div class="col-md-8 col-sm-12 result-block">
        {{outlet}}
      </div>

    </div>
  </div>
</div>