<div class="container ">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-md-10 align-self-center">
      {{utils/search-panel-tabs}}

      <div class="tab-content search-flights-block">
        <div class="tab-pane active">
          <form>
            {{one-way-search onSearch=(action "search") }}
          </form>
        </div>
      </div>

    </div>
    <div class="col"></div>
  </div>
</div>
{{outlet}}
